.top-header {
    height: 50px;
    margin-bottom: 1rem;
}

main {
    height: calc(100% - (50px + 1rem + 40px));
    overflow: scroll;
}

.footer {
    background-color: #f5f5f5;
    height: 40px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0px 5px;
}

.table thead th {
    position: sticky;
    top: 0;
    border-top: 2px solid gray;
}

.table :where(th, td) {
    min-width: 8em;
    width: auto;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

.table :where(th:first-child, td:first-child) {
    border-left: 2px solid gray;
}

.table th.table-data-id {
    min-width: 3em;
}

.table td.table-data-id {
    min-width: 3em;
    text-align: right;
}

.table :where(th.table-data-memo, td.table-data-memo) {
    min-width: 3em;
    width: 100%;
}

.focus-table-row td {
    background-color: #80f0ca;
}

.select-mouse-range td {
    background-color: #9bffa9;
}
